body {
	margin: 0;
	padding: 0;
	color: white;
	background: #121212;

	font-family: 'Roboto', sans-serif;
	cursor: default;
}

#root {
	background: #ffffff0c;
	border-radius: 20px;
	margin: 20px 20px;
	padding: 20px 0;
	padding-bottom: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	position: relative;
}

#console {
	background: #ffffff10;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

#console .consoleMsg:nth-child(n + 2) {
	color: #ffffff;
	margin-top: 5px;
}

#console .consoleMsg span {
	color: #03dac6;
}

#root > #link {
	position: absolute;
	top: -20px;
	right: -20px;
	border: 1px solid white;
	display: block;
	border-radius: 0 0 0 5px;
	padding: 2px;
	font-size: 0.7em;
	opacity: 0.5;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: white;
}

#root > #link:hover {
	color: #bb86fc;
	border-color: #bb86fc;
}

#root > #link:visited {
	color: inherit;
	text-decoration: none;
}

#header {
	background: #ffffff10;
	margin: 0 5px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

#header h1 {
	margin: 0;
	font-size: 48px;
	text-align: center;
	color: #03dac6;
}

#dropWrapper {
	background: #ffffff0c;
	border-radius: 20px;
	padding: 5px;
	margin: 0 5px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#dropWrapper .above {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 7px;
}

#dropWrapper .desc {
	font-size: 1.1em;
}

#dropWrapper #fileLocHelp {
	color: #bb86fc;
	cursor: pointer;
}

#drop {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 50px;
	text-align: center;
	font: 20pt bold;
	color: #bbb;
	cursor: pointer;
}

#tools {
	background: #ffffff0c;
	border-radius: 20px;
	margin: 20px 5px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#loadedInfo {
	border-bottom: 2px solid white;
	margin: 5px 0;
	padding: 2px 5px;
	padding-bottom: 10px;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#loadedInfo .infoWrapper {
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
}

#loadedInfo .title {
	margin-right: 20px;
}

#loadedInfo .name {
	color: #03dac6;
	margin-right: 50px;
}
#loadedInfo .date {
	color: #03dac6;
}

#downloadButton {
	cursor: pointer;
	color: #bb86fc;
	border: 1px solid white;
	background: #ffffff0c;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	animation: border-pulsate 2s infinite;
}

#downloadButton:hover {
	border-color: #bb86fc;
	animation: none;
}

.infoBox {
	background: #2c2c2c;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 10px 10px 33px 8px rgba(0, 0, 0, 0.75);
	position: fixed;
	width: 700px;
	height: 300px;
	margin: 50px auto;
	left: 0;
	right: 0;
	top: 10px;
	border: 3px solid white;
	font-size: 20px;
}

.infoBox span {
	color: #03dac6;
}

.infoBoxLarge {
	width: calc(100vw - 40px);
	height: calc(100vh - 40px);
	background: #2c2c2c;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 10px 10px 33px 8px rgba(0, 0, 0, 0.75);
	margin: 0;
	border: 3px solid white;
	font-size: 20px;
	position: fixed;
	left: 10px;
	top: 10px;
}

.infoBoxLarge .firstLineWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.infoBoxLarge .firstLineWrapper .closeButtonsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.infoBoxLarge .firstLineWrapper .closeButtonsWrapper .savebutton {
	margin-right: 20px;
}

.infoBoxLarge .firstLineWrapper .closeButtonsWrapper div {
	cursor: pointer;
	margin-right: 5px;
	padding: 5px;
	color: #bb86fc;
	font-size: 1.2em;
	border: 1px solid white;
}

.infoBoxLarge .firstLineWrapper .closeButtonsWrapper div:hover {
	border-color: #bb86fc;
}

.infoBoxLarge .firstLineWrapper .closeButtonsWrapper .closeButton {
	padding-left: 10px;
	padding-right: 10px;
}

.infoBoxLarge .detailWrapper input {
	background: #2c2c2c;
	font-size: 1.2em;
}

.infoBoxLarge .mainBoxWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.infoBoxLarge .mainBoxWrapper > div {
	margin: 0 20px 10px;
	border: 1px solid white;
	background: #ffffff0c;
	border-radius: 15px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.infoBoxLarge .mainBoxWrapper > div > h3 {
	margin: 0 0 5px 5px;
}

.infoBoxLarge .copyButton {
	padding: 5px;
	border: 1px solid white;
	color: #bb86fc;
	cursor: pointer;
	margin-bottom: 10px;
}

.infoBoxLarge .copyButton:hover {
	border-color: #bb86fc;
}

.infoBoxLarge .mainWrapper {
	height: calc(100% - 120px);
}
.infoBoxLarge .charXmlInput {
	width: 100%;
	height: 100%;
}

#jobSelect {
	font-size: 1.2em;
	background: #2c2c2c;
}

#jobSelect option {
	background: #2c2c2c;
}

.closeInfoBox {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 10px;
	font-size: 2em;
	color: #bb86fc;
	cursor: pointer;
}

.savebutton {
}

#infoBox .text {
	margin-top: 30px;
}

.highlight {
	color: #03dac6;
}

#saveTools {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
}

.subList {
	background: #ffffff0c;
	border-radius: 20px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.subListWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.subList .label {
	color: #03dac6;
	margin-bottom: 10px;
	text-align: center;
}

.subList .subListElement {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px dashed #ffffff55;
	box-sizing: border-box;
	padding: 3px;
}

.downloadImg {
	height: 20px;
	width: auto;
	background: #bb86fc;
	cursor: pointer;
}

#ownedSubListWrapper .downloadImg {
	margin-left: 20px;
}

.ownedSubListElement,
.avalSubListElement {
}

.subListElement .deleteButton {
	color: #bb86fc;
	cursor: pointer;
	margin-left: 10px;
}

.adderWrapper {
	padding-top: 10px;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#addToAvalSubs {
	margin-right: 10px;
}

#addToAvalSubsButton {
	color: #bb86fc;
	cursor: pointer;
}

.gamesesDownloadWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.gamesesDownloadWrapper img {
	margin-left: 20px;
}

#moneyConfirm {
	cursor: pointer;
	color: #bb86fc;
}

#idInput {
	width: 50px;
}

#idConfirm {
	cursor: pointer;
	color: #bb86fc;
	margin-left: 20px;
}

#convertSaveButton {
	margin-top: 10px;
	cursor: pointer;
	color: #bb86fc;
	border: 1px solid white;
	padding: 2px;
	text-align: center;
}

#convertSaveButton:hover {
	border-color: #bb86fc;
}

.optionWrapper:nth-child(n + 2) {
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.optionWrapper:last-child {
	border-bottom: 0;
	margin-bottom: 10px;
	padding-bottom: 0;
}

#otherOptions .adderWrapper {
	padding-top: 0px;
}

.captain {
	color: #718fb7;
}

.engineer {
	color: #d7ac60;
}

.mechanic {
	color: #60c9d0;
}

.securityofficer {
	color: #8d776a;
}

.medicaldoctor {
	color: #b9472b;
}

.assistant {
	color: #f8f8f8;
}

.idInputWrapper {
	justify-content: flex-start;
}

.buttonWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#crewList #addCrewMember {
	margin-top: 10px;
	cursor: pointer;
	color: #bb86fc;
	border: 1px solid white;
	padding: 2px;
	text-align: center;
}

#crewList #addCrewMember:hover {
	border-color: #bb86fc;
}
